/* Led titres doit être éloigner du bord */
.conteneur {
    padding: 5px 0px 0px 0px;
}

.navbar {
    /* display: inline-block; */
    /* display: grid; */
    /* display: none; */
}

.ftr {
    /* display: none; */
    position:static;
    border-bottom: 0rem;
}